# Backend
node_modules/
*.env
database/*.db
uploads/sourcecode/*
uploads/reports/*
uploads/ppt/*
uploads/abstract/*
uploads/viva/*
uploads/images/*
!uploads/.gitkeep
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# OS
.DS_Store
Thumbs.db
