# General
node_modules/
*.env
*.log

# Database
*.db
*.db-shm
*.db-wal

# Uploads
uploads/sourcecode/*
uploads/reports/*
uploads/ppt/*
uploads/abstract/*
uploads/viva/*
uploads/images/*
!uploads/.gitkeep

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# OS
.DS_Store
Thumbs.db
